.trunk/
.flake8
.isort.cfg
.markdownlint.yaml

dat/experiments/*
dat/models/
!dat/experiments/triangle_2d
!dat/experiments/triangle_3d
!dat/experiments/obvious_clusters_2d
!dat/experiments/obvious_clusters_3d

__pycache/
